.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2.5rem;
}

@media (min-width: 600px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .gridContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}
