.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.section-gap {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.rounded {
    border-radius: 0.5rem;
}

.cursor-pointer {
    cursor: pointer;
}
.text-lg {
    font-style: 1.125rem;
    line-height: 1.75rem;
}
.flex {
    display: flex;
}
.border-solid {
    border-style: solid;
}
.p-5 {
    padding: 1.25rem;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-float infinite 3s ease-in-out;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

